<settings>
    <category label="General">
        <setting id="time_format" type="enum" label="Time Format" values="12h (AM/PM)|24h" default="0" />
    </category>
    <category label="Advanced">
        <setting id="debug_log" type="bool" label="Enable Debug Logging" default="false" />
        <setting id="seed_baseurl" type="text" label="Seed Base URL" default="https://dlhd.link/" />
    </category>
</settings>
